---
title: example
layout: 'base_rootstyle.njk'
---

<article>
<div>

    <h4 class="date">
      {{  page.date | postDate  }}
    </h4>
  
    <h1 class="title">
      {{ title }}
    </h1>
    <h2 class="subtitle">
      {{ subtitle }}
    </h2>
    <figure>
      <img src="{{ image }}" alt="{{ imageAlt }}">
    </figure>

  <div class="content">

    <desc>
      {{ description }}
    </desc>
    
    {{ content | safe }}

    </div>
  
</div>
</article>

