<footer class="site-footer">
  <ul class="footer_links">
    <li><a href="https://kolektiva.social/@TheEMRMusic">Mastodon</a></li>
    <li><a href="https://twitter.com/theemrmusic">Twitter</a></li>
    <li><a href="https://www.instagram.com/theemrmusic/">Instagram</a></li>
  </ul>
  <p>© 2022 Eric Matthew Richardson.<br>All rights reserved.</p>
</footer>