<header>
  <ul class="nav">
    <li class="nav_link"><a href="../../" class="top_link">Home</a></li>
    <li class="nav_link"><a href="/read" class="top_link">Read</a></li>
    <li class="nav_link"><a href="/listen" class="top_link">Listen</a></li>
    <li class="nav_link"><a href="/about" class="top_link">About</a></li>
    <li class="nav_link"><a href="https://www.ericmatthewrichardson.com" class="top_link">Portfolio</a></li>
  </ul>
</header>