---
title: About
layout: 'base.njk'
---

<h1>About</h1>

<h2>Who am I?</h2>
<p>Eric Matthew Richardson, a writer, composer, and whatever else that lives in Chicago, Illinois. I mostly work on musical theatre, but have also been dipping into weird DIY projects and some interactive stuff. You can check out my portfolio website here.</p>

<h2>What is an Anti-Blog?</h2>
<p>I don't know.</p>

<h2>But really, what is it?</h2>
<p>The modern-day blog is a perfect reflection of the digital hellscape we're currently living in. Bloated. Generic. Advertised to hell. I can't tell you how many times I've run a search for some simple information, only to be confronted with page after page of spammy "articles" regurgitating the same targeted search phrase in a desperate attempt to obtain my precious clicks. Just let me know what channel the Cavs are on, I don't need a whole three-paragraph writeup about cable package pricing.
So this space is a reaction to that. A return to form. An attempt to rebuild the promise of the old, weird internet. No ads, no data collection. Probably clunky as hell. Whatever the opposite of SEO is, I want to be that.
But really, it's just whatever I find interesting.</p>

<h2>Why?</h2>
<p>
1. I wanted a space to collect my thoughts and post whatever else I'm working on that doesn't need to appear on my portfolio. Articles, projects, podcast appearances, events, etc.
2. I wanted that space to be something that I owned.
3. I wanted a little DIY project.
I'm teaching myself how to develop for the web to free myself from the oppressive chains of subscription tech companies. I started out by building my portfolio site, but also wanted to learn how to use a static site generator. I made this using Eleventy.
</p>

<h2>What can you expect?</h2>
<p>Who knows! I'm loosely committing to writing at least one thing per month, but we all know how that goes. Maybe a book or movie review. Maybe some political thing. Maybe a journal of what I'm working on that month. 
I also don't really have a view counter on here, so for all I know, I'm just farting into the void.</p>




