---
title: Anti-Blog
description: A collection of private thoughts for public viewing.
image: /assets/favicon.png
layout: 'base.njk'
---

<div class="center_screen">
  <h1 class="hero_title">Anti-<br>Blog</h1>
</div>



