:root {

    --color100: #fffcf2;
	--color200: #252422;
	--color300: #C0B585;
	--color400: #857676;
	--color500: #695E5E;
	--color600: #4D4343;
	--color700: #252422;
	--color800: #D88373;

    --colorlink: #C0B585;

   /* --colorlink: #6B91A5; 
      --color800: #191919;
      */

    --bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252422' fill-opacity='.75' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

@font-face {
  font-family: 'HappyTimes';
  src:  url('../fonts/happy-times-NG_regular_master_web.woff2') format('woff2'),
        url('../fonts/happy-times-NG_regular_master_web.woff') format('woff'),
        url('../fonts/happy-times-NG_regular_master_web.ttf') format('ttf');
}

@font-face {
  font-family: 'HappyTimes';
  src:  url('../fonts/happy-times-NG_bold_master_web.woff2') format('woff2'),
        url('../fonts/happy-times-NG_bold_master_web.woff') format('woff'),
        url('../fonts/happy-times-NG_bold_master_web.ttf') format('ttf');
        font-weight: bold;
}

@font-face {
  font-family: 'HappyTimes';
  src:  url('../fonts/happy-times-NG_italic_master_web.woff2') format('woff2'),
        url('../fonts/happy-times-NG_italic_master_web.woff') format('woff'),
        url('../fonts/happy-times-NG_italic_master_web.ttf') format('ttf');
        font-style: italic;
}

html {
  font-size: 70%;
  overflow-y: scroll;
  padding: 1em;
  margin: auto;
  width: 80vw;
  max-width: 1000px;
  -webkit-text-size-adjust: 70%;
  -ms-text-size-adjust: 70%;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1em;
  border-style: solid;
  border-color: var(--color100);
  border-width: .25em;
}

figure {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: auto;
    font-family: 'HappyTimes';
    font-size: 1.65em;
	background-color: var(--color800);
	color: var(--color200);
    line-height: 1.75em;
    text-align: justify;
    max-width: 800px;
    background-image: var(--bg-image);
}

button {
	display: inline-block;
	margin-right: 1em;
	width: 9em;
    outline: 0;
    align-items: center;
    background: 0 0;
	color: var(--color200);
    border: .125em solid var(--color200);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 1em;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

button:hover {
    box-shadow: 4px 4px 0 var(--color200);
     transform: translate(-4px,-4px);
}

button:focus-visible{
    outline-offset: 1px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color100);
    text-align: left;
    line-height: 1.1em;
    font-style: italic;
}
p {
    margin-bottom: 1em;
    padding: 0;
}
h1 {
    font-size: 5em;
    font-weight: bold;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
a {
    color: var(--colorlink);
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none !important;
}
a:hover {
	color: var(--color100);
}
p {
    margin-top:0;
    -webkit-hypens:auto;
    -moz-hypens:auto;
    hyphens:auto;
    }
ul {
    list-style: square;
    padding-left:1.2em;
    }
ol {
    padding-left:1.2em;
    }
pre {
    padding: 0 2em;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    color: var(--color700);
    background-color: var(--color300);

    font-family: 'HappyTimes';
    text-align: justify;
    padding: .25em;

    border-radius: .5em;
}
desc {
    display: block;
    margin-top: .5em;
    padding: .5em;
    padding-left: 1em;

    color: var(--color300);
    font-style: italic;

    border-left: solid;
	border-color: var(--color100);
	border-width: .15em;

    margin-bottom: 2em;
}

aside {
    display: block;
    float: right;
    width: 80%;
}
blockquote {
    font-style: italic;
    padding: 1em;
    background-color: var(--color700);
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
blockquote p {
    color: var(--color300);
	padding-left: .5em;
}
figcaption {
    color: var(--colorlink);
    font-style: italic;
    text-align: right;
    margin-top: .25em;
    padding-right: 1em;
}
hr {
    border-style: dashed;
    border-width: .01em;
}

table {
    border-collapse: collapse;
    margin: 1em 1em;
    border: 1px solid #CCC;
}
table thead {
    background-color: #EEE;
}
table thead td {
    color: #666;
}
table td {
    padding: 0.5em 1em;
    border: 1px solid #CCC;
}

/* Nav Bar Class Styling */

.nav {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0 1em 0;
  overflow: hidden;
  border-bottom: solid;
  border-width: .05em;
  border-color: var(--color200);
}

.nav_link {
  float: left;
}

.nav_link:last-child {
  border-right: none;
  float: right;
}

.nav_link a {
  display: block;
  color: var(--color200);
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-style: italic;
}

.nav_link a:hover {
    color: var(--color100);
  }


/* Home Page Class Styles */

.center_screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}

.hero_title {
    font-size: 6em;
    font-style: normal;
    padding-left: .5em;
    border-left: solid;
    border-width: .05em !important;
    border-color: var(--color100);
}

.hero_subtitle {
    font-size: 1.5em;
    color: var(--color200);
    line-height: 1.5em;
    font-style: italic;
}

/* Article List Page Class Styles */


.article_feed {
    border-style: solid;
    border-width: .05em;
    border-radius: 1em;

    padding: 3em;
    margin-bottom: 4em;
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.article_feed:hover {
    background-color: var(--color700);
}

.article_left {
    float: left;
    padding-right: 2em;
    max-width: 35%;
    min-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid;
    border-width: .05em;
}

.article_title {
    text-decoration: none;
    color: var(--color200);
    font-style: italic;
}

.date {
    font-style: italic;
    color: var(--color100);
    font-size: .9em;
}

.description {
    color: var(--color300);
    display: inline-block;
    padding: 1em;
}

/* Footer Class Styles */

.container {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.site-footer{
    text-align: right;
    font-size: .8em;
    margin-top: auto;
    padding-top: 3em;
    color: var(--color100);
}

/* Mobile Styles */

@media screen and (max-width:640px) {
    html {
	width: 87vw !important;
	font-size: 80% !important;
	}
	
    body {
    	line-height: 2em !important;
	}
	
    h1 {
        font-size: 3.5em !important;
        }
	
    aside {
    	width: 100% !important;
	    margin: 0 !important;
	}
    blockquote {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }


    
	
    .hero_title {
	font-size: 4em !important;
        }

    .hero_subtitle {
        font-size: 1em !important;
        }
	
    img,
    picture {
	max-width: 100% !important;
	}
	
    .article_feed {
    	padding: 0 !important;
	flex-direction: column !important;
	}

    .article_feed a {
    	text-decoration: none !important;
	}

    .article_left {
    	padding-right: 1em !important;
	    padding-left: 1em !important;
	    margin: auto;
    	max-width: none !important;
    	min-width: none !important;
	}
	
    .article_right {
	border: none !important;
	}
}
